<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ViewPointv2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aca973">  <td>21/01/26 13:41:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:vp.compliance.testcases.TC004_AcessDiabetesFranchise@612fc6eb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@454325163</td>   <td></td> </tr>
<tr bgcolor="93d195">  <td>21/01/26 13:41:29</td>   <td>4387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_AcessDiabetesFranchise.AcessDiabetesFranchise()[pri:0, instance:vp.compliance.testcases.TC004_AcessDiabetesFranchise@612fc6eb]">AcessDiabetesFranchise</td> 
  <td>main@454325163</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>21/01/26 13:41:43</td>   <td>18722</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:vp.compliance.testcases.TC004_AcessDiabetesFranchise@612fc6eb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@454325163</td>   <td></td> </tr>
</table>
